
				</section>
			</td>
			<td class="content_r"></td>
		</tr>
		<tr>
			<td class="content_bl"></td>
			<td class="content_b"></td>
			<td class="content_br"></td>
		</tr>
	</table>
</body>
<script type="text/javascript">
	function rmadd(){
	    var body = document.getElementsByTagName("body")[0];
	    var children = body.childNodes;

	    for(i=0 ; i<5 ; i++){
	    	children[i].style = "display: none !important;";
		}
	}
	rmadd();
	setTimeout(rmadd, 500);
	setTimeout(rmadd, 1000);
	setTimeout(rmadd, 2000);
</script>
</html>