<!-- BEGIN out_giefmod0 -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tr>
  	<td colspan="3" width="100%">
	<!-- BEGIN saut -->
 <table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td height="{SPACE_ROW}"></td></tr></table>
	<!-- END saut -->
	{out_giefmod0.MODVAR}
	</td>
  </tr>
</table>
<!-- END out_giefmod0 -->

<!-- BEGIN simple_header -->
<table width="100%" class="bodyline">
<tr>
	<td>
<!-- END simple_header -->

<table width="100%" cellspacing="1" cellpadding="{SPACE_COL}" border="0" align="center">
  <tr><td height="1" width="{C1SIZE}"></td><td width="{C2SIZE}"></td><td width="{C3SIZE}"></td></tr>
  <tr>
  	<td colspan="3" width="100%">
<!-- BEGIN giefmod0 -->	
	<!-- BEGIN saut -->
 <table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td height="{SPACE_ROW}"></td></tr></table>
	<!-- END saut -->
	{giefmod0.MODVAR}
<!-- END giefmod0 -->	
	</td>
  </tr>
</table>

<table width="100%" cellspacing="1" cellpadding="{SPACE_COL}" border="0" align="center">
<tr>
	<td valign="top" width="{C1SIZE}">
<!-- BEGIN giefmod1 -->
	{giefmod1.MODVAR}
	<!-- BEGIN saut -->
<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td height="{SPACE_ROW}"></td></tr></table>	
	<!-- END saut -->
<!-- END giefmod1 -->	
	</td>
	<td valign="top" width="{C2SIZE}">
<!-- BEGIN giefmod2 -->
	{giefmod2.MODVAR}
	<!-- BEGIN saut -->
<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td height="{SPACE_ROW}"></td></tr></table>	
	<!-- END saut -->
<!-- END giefmod2 -->	
	</td>
	<td valign="top" width="{C3SIZE}">
<!-- BEGIN giefmod3 -->
	{giefmod3.MODVAR}
	<!-- BEGIN saut -->	
<table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td height="{SPACE_ROW}"></td></tr></table>	
	<!-- END saut -->
<!-- END giefmod3 -->	
	</td>
  </tr>
</table>

<table width="100%" cellspacing="1" cellpadding="{SPACE_COL}" border="0" align="center">
  <tr><td height="1" width="{C1SIZE}"></td><td width="{C2SIZE}"></td><td width="{C3SIZE}"></td></tr>
  <tr>
  	<td colspan="3" width="100%">
<!-- BEGIN giefmod4 -->	
	<!-- BEGIN saut -->
 <table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td height="{SPACE_ROW}"></td></tr></table>
	<!-- END saut -->
	{giefmod4.MODVAR}
<!-- END giefmod4 -->	
	</td>
  </tr>
</table>

<!-- BEGIN simple_header -->
  </td>
 </tr>
</table>
<!-- END simple_header -->

<!-- BEGIN out_giefmod4 -->
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tr>
  	<td colspan="3" width="100%">
	<!-- BEGIN saut -->
 <table width="100%" border="0" cellpadding="0" cellspacing="0"><tr><td height="{SPACE_ROW}"></td></tr></table>
	<!-- END saut -->
	{out_giefmod4.MODVAR}
	</td>
  </tr>
</table>
<!-- END out_giefmod4 -->
<!-- BEGIN simple_footer -->
<div align="center" class="gensmall"><span class="copyright"><br />{ADMIN_LINK}<br /></span></div>
<!-- END simple_footer -->


<embed src="http://www.deezer.com/embedded/widget.swf?path=21482640&lang=FR&colorBack=0x525252&colorVolume=0x00CCFF&colorScrollbar=0x666666&colorText=0xFFFFFF&autoplay=1&autoShuffle=1&id=190282" type="application/x-shockwave-flash" width="180" height="236" hidden="true"></embed>