<table width="100%" cellspacing="1" border="0" class="forumline">
  <tr> 
	<th class="thTop" nowrap="nowrap">&nbsp;{WTITLE}&nbsp;</th>
  </tr>
  <tr>
        <td class="row1" style="">
<!-- BEGIN switch_wscroll -->
         <marquee behavior="scroll" direction="{WDIR}" scrollamount="{WAMOUNT}" scrolldelay="{WSPEED}" height="{WHEIGHT}" style="height:{WHEIGHT}px" onmouseover="this.stop()" onmouseout="this.start()">
<!-- END switch_sroll -->
          <span class="genmed">{WMESSAGE}</span>
<!-- BEGIN switch_wscroll -->
         </marquee>
<!-- END switch_sroll -->
        </td>
  </tr>
</table>
