		   <table width="100%" cellpadding="2" cellspacing="1" border="0" class="forumline">
		    <tr>
			 <{PORTAL_CLASS_BALISE} class="{PORTAL_CLASS_TITLE}" height="25"><span class="genmed"><b>{L_THEMATIC_LINKS}</b></span></{PORTAL_CLASS_BALISE}>
		    </tr>
		    <tr>
			 <td class="row1" align="left">
<script type="text/javascript"><!--
google_ad_client = "pub-5883891454133350";
google_ad_width = 468;
google_ad_height = 15;
google_ad_format = "468x15_0ads_al";
google_ad_channel ="7711634951";
google_color_border = "{T_BODY_LINK}";
google_color_border = google_color_border.substr(1,6);
google_color_bg = "{T_TR_COLOR1}";
google_color_bg = google_color_bg.substr(1,6);
google_color_link = "{T_BODY_LINK}";
google_color_link = google_color_link.substr(1,6);
google_color_url = "{T_BODY_LINK}";
google_color_url = google_color_url.substr(1,6);
google_color_text = "{T_BODY_TEXT}";
google_color_text = google_color_text.substr(1,6);
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
		    </tr>
		   </table>
