		   <table width="100%" cellpadding="2" cellspacing="1" border="0" class="forumline">
		    <tr>
			 <{PORTAL_CLASS_BALISE} class="{PORTAL_CLASS_TITLE}" height="25"><span class="genmed"><b>{L_GOOGLE_SEARCH}</b></span></{PORTAL_CLASS_BALISE}>
		    </tr>
		    <tr>
			 <td class="row1" align="left">
<!-- Search Google -->
<form method="get" action="http://www.google.com/custom" id="search_google" target="_blank">
<table>
<tr><td nowrap="nowrap" valign="top" align="left" height="32">
<a href="http://www.google.com/" onclick="document.getElementById('search_google').submit(); return false;">
<img src="http://img10.xooimage.com/files/e/b/0/google75x32-10dc5d.png" border="0" alt="Google" align="middle"></a><br />
<input type="text" name="q" maxlength="255" value="" class="post"><br />
<input type="submit" name="sa" value="Rechercher" class="liteoption">
<input type="hidden" name="forid" value="1">
<input type="hidden" name="ie" value="ISO-8859-1">
<input type="hidden" name="oe" value="ISO-8859-1">
<input type="hidden" name="cof" value="GALT:{T_FONTCOLOR2};GL:1;DIV:{T_TH_COLOR2};VLC:{T_BODY_VLINK};AH:center;BGC:{T_TD_COLOR2};LBGC:{T_TD_COLOR2};ALC:{T_BODY_HLINK};LC:{T_BODY_LINK};T:{T_BODY_TEXT};GFNT:{T_FONTCOLOR1};GIMP:{T_FONTCOLOR1};FORID:1;LH:91;L:http://{HTTP_HOST}{TEMPLATE_PATH}/images/logo_phpBB.gif;S:http://{HTTP_HOST}{TEMPLATE_PATH}/;">
<input type="hidden" name="hl" value="fr">
<input name="domains" value="xooit.com" type="hidden">
<input name="sitesearch" value="xooit.com" type="hidden">
<input type="hidden" name="client" value="pub-5883891454133350">
</td></tr></table>
</form>
<!-- Search Google -->
			 </td>
		    </tr>
		   </table>
